/*laptop*/
@media only screen and (min-width: 1200px) {
    body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(230, 230, 230);}
  /*this is for the sign up form*/
    * {box-sizing: border-box;}
  /*this is all fo the styles for the text areas*/
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(194, 75, 15);
      background-color: rgb(221, 221, 221);
      color:black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    /*this is the style for the email section*/
    input[type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(194, 75, 15);
      background-color: rgb(221, 221, 221);
      color:black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    /*this is the style for the submit button*/
    input[type=submit] {
      background-color: rgb(221, 221, 221);
      align-content: center;
      width: 100%;
      color: rgb(0, 0, 0);
      padding: 12px 20px;
      border: none;
      
      cursor: pointer;
    }
    /*this is for when you hover over the submit button*/
    input[type=submit]:hover {
      background-color: rgb(202, 202, 202);
      color: rgb(0, 0, 0);
    }
    .contactword{
        font-size: 200%;
    }
    /*this is for the styles of the page*/
    .container {
    position: relative;
    top: 90px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left:20%;
    margin-right:20%;
    padding: 20px;
    font-family: 'Odibee Sans', cursive;
    
    }
    /*this is for the logos in the nav*/
    .logo{
        width: 200px;
        height: 100px;
        float: left;
    }
   /*this is for the nav*/
    #nav {
        background-color: rgb(217, 82, 14);
        position: fixed;
        font-family: 'Baloo Chettan 2', cursive;
        width: 100%;
        display: block;
        z-index: 100000;
      }
    
      #nav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 35px;
        text-decoration: none;
        font-size: 25px;
      }
    
      #nav a:hover {
        background-color: rgb(194, 75, 15);
        color: rgb(255, 255, 255);
      }
   
    }
    
    /*tablet*/
    @media only screen and (max-width: 1199px) and (min-width: 800px) {
      body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);}
    * {box-sizing: border-box;}
    /*this is all for the styles for the text areas*/
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(194, 75, 15) ;
      background-color: rgb(221, 221, 221);
      color:black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    /*this is the style for the email section*/
    input[type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(194, 75, 15) ;
      background-color: rgb(221, 221, 221);
      color:black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
     /*this is the style for the submit button*/
    input[type=submit] {
      background-color: rgb(221, 221, 221);
      align-content: center;
      width: 100%;
      color: black;
      padding: 12px 20px;
      border: none;
      
      cursor: pointer;
    }
    /*this is for when you hover over the submit button*/
    input[type=submit]:hover {
      background-color: rgb(202, 202, 202);
      color: black;
    }
    .contactword{
        font-size: 200%;
    }
    /*this is for the styles of the page*/
    .container {
    position: relative;
    top: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    
    padding: 20px;
    font-family: 'Odibee Sans', cursive;
   
    }
    /*this is for the logos in the nav*/
    .logo{
        width: 200px;
        height: 100px;
        float: left;
    }
    /*this is for the nav*/
    #nav {
        background-color: rgb(217, 82, 14);
        position: fixed;
        font-family: 'Baloo Chettan 2', cursive;
        width: 100%;
        display: block;
        font-weight: bolder;
        transition: top 0.3s;
        z-index: 100000;
      }
    
      #nav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 35px;
        text-decoration: none;
        font-size: 25px;
      }
    
      #nav a:hover {
        background-color: rgb(194, 75, 15);
        color: rgb(255, 255, 255);
      }
   
    }
    /*phone*/
    @media only screen and (max-width: 799px) {
      body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);}
    * {box-sizing: border-box;}
    /*this is all fo the styles for the text areas*/
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(217, 82, 14);
      background-color: rgb(221, 221, 221);
      color:black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    /*this is the style for the email section*/
    input[type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(217, 82, 14);
      background-color: rgb(221, 221, 221);
      color:black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    /*this is the style for the submit button*/
    input[type=submit] {
      background-color: rgb(221, 221, 221);
      align-content: center;
      width: 100%;
      color: black;
      padding: 12px 20px;
      border: none;
      
      cursor: pointer;
    }
    /*this is for when you hover over the submit button*/
    input[type=submit]:hover {
      background-color: rgb(202, 202, 202);
      color: black;
    }
    .contactword{
        font-size: 200%;
    }
    /*this is for the styles of the page*/
    .container {
    position: relative;
    top: 200px;
    background-color: rgb(255, 255, 255);
    color: black;
    
    padding: 20px;
    font-family: 'Odibee Sans', cursive;
   
    }
    /*this is for the logos in the nav*/
    .logo{
        width: 200px;
        height: 100px;
        float: left;
    }
    /*this is for the nav*/
    #nav {
        background-color: rgb(217, 82, 14);
        position: fixed;
        font-family: 'Baloo Chettan 2', cursive;
        width: 100%;
        display: block;
        font-weight: bolder;
        transition: top 0.3s;
        z-index: 100000;
      }
    
      #nav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 35px;
        text-decoration: none;
        font-size: 25px;
      }
    
      #nav a:hover {
        background-color: rgb(194, 75, 15);
        color: rgb(255, 255, 255);
      }
    
    }
    
    
    