
/* navigation*/
.logo{
    width: 200px;
    height: 100px;
    float: left;
}
#nav {
    background-color: rgb(231, 208, 162);
    position: fixed;
    font-family: 'Baloo Chettan 2', cursive;
    width: 100%;
    display: block;
    font-weight: bolder;
    transition: top 0.3s;
  }

  #nav a {
    float: left;
    display: block;
    color: #363434;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    font-size: 25px;
  }

  #nav a:hover {
    background-color: rgb(197, 177, 138);
    color: black;
  }

#navbar {
    background-color:rgb(231, 208, 162);
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: bolder;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #363434;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: rgb(197, 177, 138);
    color: black;
  }




/* grid layout*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.slides{
    grid-column: 1 / span 3;
    margin-top:100px;
    text-align: center;
    
    background-image: url("../image/mainpic.jpg");
    animation: slideshow 10s  infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    font-size:500%;
    vertical-align: middle;
    font-family: 'Baloo Chettan 2', cursive;
}
/*
@keyframes slideshow{
    0%{
        background-image: url("../image/camp1.jpg");
    }
    25%{
        background-image: url("../image/camp2.jpg");
    }
    50%{
        background-image: url("../image/camp3.jpg");
    }
    75%{
        background-image: url("../image/camp4.jpeg");
    }
    99.9%{
        background-image: url("../image/camp1.jpg");
    }
}
*/
.main{
    grid-column: 1/ span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    font-family: 'Baloo Chettan 2', cursive;
    margin-left: 5%;
    
}


.offer{
    grid-column:1/span 2;
    grid-row: 1;
}
.about{
    grid-column:1;
    grid-row: 2;
    
}
.about2{
    grid-column:2;
    grid-row: 2;
    
}

.fun{
    padding:30px;
    width:270px;
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.main2{
    grid-column:3;
    grid-row: 2;
    

}
.main3-3{
    grid-column: 1/span 3;
    grid-row: 3;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    background-color: rgb(231, 208, 162);
}
.main3{
    grid-column:2/span 3;
    grid-row: 3;
    background-color: rgb(231, 208, 162);
    font-family: 'Baloo Chettan 2', cursive;
    grid-template-columns: 1fr 1fr ;
    display: grid;
    padding-left: 20px;

}




.activity{
    grid-column:1/span 2;
    grid-row: 1;
}
.activity2{
    grid-column:1;
    grid-row: 2;
    
}

.footer{
    grid-column: 1 / span 3;
    grid-row: 4;
    
    border: 1px solid black;
    text-align:center;
}

